<h1> Hikes </h1>

<% @hikes.each do |hike| %>

<ul>
  <li>
  <strong>Name: </strong><%= hike.name %>, 
    <ul>
    <li>Length: <%= hike[:length_miles]%> miles</li>
    <li>Elevation Gain: <%= hike[:elevation_gain_feet]%> feet</li>
    <li>Max Elevation: <%= hike[:max_elevation_feet]%> feet</li>
    <li>Rating: <%= hike[:rating]%> miles</li>
    <li>Best Month: <%= hike[:best_month]%> </li>
    </ul>
  </li>
</ul>
</p>
<%end%>
